/* Contact info */
.single-contact {
    float: left;
    position: relative;
    width: 25%;
}

.information h4 {
    font-size: 20px;
    font-weight: 400;
    position: relative;
    z-index: 2;
}

.information h4 span {
    color: #5e5e5e;
    font-weight: 700;
    padding: 10px;
}

.single-contact::after {
    background: #614a3d none repeat scroll 0 0;
    border-color: #614a3d;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
    height: 90px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    width: 100%;
}

.single-contact:hover {
    border-color: #614a3d;
}

.single-contact:hover::after {
    opacity: 1;
}

.information {
    border: 1px solid #eeeeee;
    padding: 28px 0;
}

.single-contact:hover .information h4, .single-contact:hover .information h4 span {
    color: #ffffff;
    top: 3px;
}

/* About area */

.about-text > h3 {
    color: #5e5e5e;
    font-family: "Courgette", cursive;
    margin-bottom: 21px;
    font-size: 36px;
}

.about-text > p:nth-child(2) {
    margin-bottom: 15px;
}

.about-text > p:nth-child(3) {
    margin-bottom: 46px;
}

.about-text {
    padding: 52px 0;
    position: relative;
    z-index: 2;
}

/* Special Area */

.special-area .container-fluid, .image-area .container-fluid {
    padding-left: 5px;
    padding-right: 5px;
}

.special-item, .single-image-item {
    float: left;
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
}

.item-content {
    position: relative;
}

.item-content img, .single-image-item img  {
    max-width: 100%;
}

.item-hover {
    background: rgba(0, 0, 0, 0.6) no-repeat scroll 0 0;
    bottom: 10px;
    height: auto;
    left: 10px;
    overflow: hidden;
    position: absolute;
    right: 10px ;
    top: 10px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: auto;
}
